#Options -Multiviews

#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f

#RewriteRule ^(.*)$ index.php?url=$1 [L]

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
 
    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ index.php?url=$1 [L]
 
    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ index.php?url=$1 [L]
 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [L]
</IfModule>
 
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule
